################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/practice_1/.vs/practice_1/FileContentIndex/01af9144-82ba-42e7-8d48-b7b5d533bb33.vsidx
/practice_1/.vs/practice_1/FileContentIndex/fedbc87c-60ca-4087-b41c-e4f153e6ab1b.vsidx
/Practice_2/.vs/Practice_2/FileContentIndex/24a990d3-2036-4b55-b953-8999db5f283c.vsidx
/Practice_2/.vs/Practice_2/FileContentIndex/14352205-2812-4b89-81de-49364ad65b2f.vsidx
